
:root{
    --primario: #ff9800;
    --primariooscuro: #f57c00;
    --divisor: rgba(189, 189, 189, 0.86);
    --blanco: #ffffff;
    --oscuro: #212121;
    --secundario: #0097a7;
    --gris: rgba(107, 107, 107, 0.22);
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-size: 1.6rem;

}

*,*:before,*:after{
    box-sizing: inherit;
}

h1,h2{
    font-size: 4rem;
    text-align: center;
}


.formulario{
    padding: 1rem;
    margin-bottom: 1rem;
}

.formulario>fieldset{
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

legend{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 100%;
}

.contenedor-campos{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    margin: 1rem 1rem;
}

.campos>label{
    color: var(--oscuro);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campos>input{
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: rgba(189, 189, 189, 0.23);
    border-radius: 1rem;
}

.input{
    display: grid;
    text-align: center;
}

.input>input{
    background-color: #f5b000;
    color: var(--blanco);
    border: none;
    width: auto;
    height: 3rem;
    font-size:2rem;
    border-radius: 0.5rem;
}

.input>input:hover{
    background-color: var(--primariooscuro);
    color: var(--blanco);
}
