<div th:insert="~{headerIframe.html}" th:remove="tag" ></div>
<main>
    <header>
        <h1 class="text-primary">Cosas del Día</h1>
    </header>
    <table class="table table-striped table-hover lista">
        <caption style="caption-side: top; background-color: #212529; color: white; text-align: center; font-size: 3rem" >Actividades</caption>
        <tr>
            <th class="der">Avisos Importantes</th>
            <th class="izq">Promociones a ofrecer</th>
        </tr>
        <tr>
            <td class="der">su ptm hoy tienes que recordar hacer limpieza</td>
            <td class="izq">su ptm hoy hay Chevez 2x1 en todas las marcas</td>

        </tr>

        <tr>
            <td class="der">su ptm hoy tienes que recordar hacer limpieza</td>
            <td class="izq">su ptm hoy hay Chevez 2x1 en todas las marcas</td>
        </tr>
        <tr>
            <td class="der">su ptm hoy tienes que recordar hacer limpieza</td>
            <td class="izq">su ptm hoy hay Chevez 2x1 en todas las marcas</td>
        </tr>
        <tr>
            <td class="der">su ptm hoy tienes que recordar hacer limpieza</td>
            <td class="izq">su ptm hoy hay Chevez 2x1 en todas las marcas</td>
        </tr>
        <tr>
            <td class="der">su ptm hoy tienes que recordar hacer limpieza</td>
            <td class="izq">su ptm hoy hay Chevez 2x1 en todas las marcas</td>
        </tr>

    </table>

    <h1 class="text-primary" style="margin-top: 2rem;">Mensajes</h1>
    <form class="formulario">
        <fieldset>
            <div class="contenedor-campos">
                <div class="campos">
                    <label>Avisos:</label>
                    <textarea class="form-control fs-5"></textarea>
                </div>
                <div class="campos">
                    <label>Promociones:</label>
                    <textarea class="form-control fs-5"></textarea>
                </div>
            </div>
        </fieldset>
        <input class="btn btn-primary enviar fs-3" style="font-weight: bold" type="submit" value="Crear usuario">
    </form>


</main>

</body>